.lobbies .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lobbies .list .header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.lobbies .list .header .filter_btn {
  display: flex;
  padding: 3px 10px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
  background: #51C4FF80;
  border-radius: var(--br-medium);
  margin-bottom: 10px;
}

.lobbies .list .header .filter_bar {
  display: block;
  position: relative;
}

.lobbies .list .header .filter_bar .filter_window {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  position: fixed;
  z-index: 100;
  background: #1E3645;
  width: calc(100% - 28px);
  left: 14px;
  border-radius: var(--br-medium);
  padding: 10px;
  transition: all 0.5s ease;
}


.lobbies .list .header .filter_bar .filter_window_active {
  display: flex;
  animation: sjump 0.3s forwards;
}


.lobbies .list .header .filter_bar .filter_window p {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.lobbies .list .header .filter_bar .filter_window .cards_number {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lobbies .list .header .filter_bar .filter_window .cards_number input,
.lobbies .list .header .filter_bar .filter_window .bid input,
.lobbies .list .header .filter_bar .filter_window .game_type input {
  display: none;
}

.lobbies .list .header .filter_bar .filter_window .cards_number label {
  display: block;
  padding: 12px 30px;
  background: var(--cb);
  color: var(--black);
  font-size: 20px;
  border-radius: var(--br-medium);
}

.lobbies .list .header .filter_bar .filter_window .cards_number input:checked+label,
.lobbies .list .header .filter_bar .filter_window .bid input:checked+label,
.lobbies .list .header .filter_bar .filter_window .game_type input:checked+label {
  box-shadow: 0px 4px 4px 0px #FFFFFF40;
  background: var(--white);
}


/* bid type */
.lobbies .list .header .filter_bar .filter_window .bid {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lobbies .list .header .filter_bar .filter_window .bid label,
.lobbies .list .header .filter_bar .filter_window .game_type label {
  display: block;
  padding: 5px 12px;
  background: var(--cb);
  color: var(--black);
  font-size: 20px;
  min-width: 140px;
  text-align: center;
  border-radius: var(--br-small);
}

/* game type */
.lobbies .list .header .filter_bar .filter_window .game_type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 8px;
  padding: 0 15px;
  margin-bottom: 8px;
}

.lobbies .list .header .filter_bar .filter_window .game_type label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.lobbies .list .header .filter_bar .filter_window .game_type label .icon {
  display: block;
  position: absolute;
  right: 4px;
}

.lobbies .list .header .filter_bar .filter_window .game_type label svg * {
  stroke: #000 !important;
}

/* list */
.lobbies .list .header .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: var(--br-medium);
  background: linear-gradient(90deg, #CDCDCD 0%, #676767 100%);
}

.lobbies .list .header .row .btn {
  display: block;
  padding: 5px 12px;
  font-size: 20px;
  border-radius: var(--br-medium);
}

.lobbies .list .header .row .btn_active {
  background: var(--blue-light);
}



.lobbies .btn_bar .filter_btns {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}



.lobbies .btn_bar .create_btn,
.lobbies .btn_bar .filter_btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background: var(--blue-light);
  min-height: 50px;
  border-radius: var(--br-medium);
  font-size: 20px;
  animation: sjump 0.3s forwards;
}

.lobbies .btn_bar .filter_btns .reset {
  background: #2D4F64;
  color: var(--white);
}

.lobbies .btn_bar .create_btn .icon {
  display: block;
  position: absolute;
  right: 15px;
  height: 65%;
}

.lobbies .fmode .filter_btns {
  display: flex;
}

.lobbies .fmode .create_btn {
  display: none;
}