.user_profile {
  display: block;
  background: var(--gradient1);
  border-radius: var(--br-medium);
  padding: 12px;
}

.user_profile .row {
  display: flex;
  flex-direction: row;
}

.user_profile .user_picture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  margin-right: 20px;
  border-radius: var(--br-full);
  width: 104px;
  height: 104px;
}

.user_profile .user_picture .frame {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  z-index: 1;
}

.user_profile .user_picture .img {
  display: block;
  position: relative;
  z-index: 0;
  border-radius: var(--br-full);
  width: 85px;
  height: 85px;
  transform: scale(1.1);
}

.user_profile .user_info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  margin-bottom: 18px;
}

.user_profile .user_info .user_name {
  position: relative;
}

.user_profile .user_info .user_name .icon {
  position: absolute;
  margin-left: 3px;
}

.user_profile .user_info span {
  position: relative;
}

.user_profile .user_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 17px;
}

.user_profile .user_info .gr2 {
  align-items: center;
}

.user_profile .user_info .usdt {
  display: block;
  margin-left: 30px;
  font-family: var(--sfd);
  font-size: 14px;
}

.user_profile .user_info .usdt span {
  color: var(--secondary-hint-color);
}

.user_profile .user_info .user_status {
  padding-left: 12px;
}

.user_profile .user_info .user_status svg {
  display: block;
  position: absolute;
  left: -6px;
  top: 0;
}

.user_profile .user_info .check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user_profile .user_info .check span {
  display: block;
  width: 100%;
}

.user_profile .user_info .coins_count {
  display: flex;
  flex-direction: row;
  font-family: var(--sf);
  font-size: 12px;
  padding-left: 10px;
}

.user_profile .user_info .coins_count .icon {
  display: inline-block;
  position: absolute;
  top: -5px;
  margin-left: 2px;
}

.user_profile .user_info .dur {
  padding-left: 18px;
  font-family: var(--sfd);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;

}

.user_profile .user_info .dur .icon {
  position: absolute;
  left: 0;
  top: -2px;
}

.user_profile .user_info .cancel_premium {
  display: inline-block;
  background: linear-gradient(247.81deg, rgba(121, 176, 255, 0.9) 29.67%, rgba(119, 138, 230, 0.9) 45.01%, rgba(114, 123, 255, 0.9) 60.71%, rgba(66, 77, 128, 0.9) 91.8%);
  border-radius: var(--br-medium);
  color: var(--white);
  padding: 2px 12px;

}

/* / */
/* user_profile btns */
/* / */

.user_profile .btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.user_profile .btns button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  padding: 2px;
  border-radius: var(--br-small);
  background-color: var(--blue1);
  text-align: left;
  color: var(--white);
  line-height: 22px;
}


.user_profile .btns .btn_withdraw svg {
  margin-left: -5px;
}

/* modal */
.user_profile .premium_cancel_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  position: fixed;
  width: calc(100% - 20px);
  height: auto;
  background: #fff;
  color: var(--black);
  padding: 20px;
  border-radius: var(--br-medium);
  left: 10px;
  top: 50%;
  transform: translate(0%, -50%) scale(0.8);
  opacity: 0;
  z-index: 100;
  animation: openM 0.3s 1 forwards;
}

@keyframes openM {
  from {
    transform: translate(0%, -50%) scale(0.8);
    opacity: 0;
  }

  to {
    transform: translate(0%, -50%) scale(1);
    opacity: 1;
  }
}

.user_profile .premium_cancel_modal .btns {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user_profile .premium_cancel_modal .btn {
  padding: 5px 30px;
  font-size: 30px;
  border-radius: var(--br-medium);
  background: var(--d9);
  color: var(--black);

}

.user_profile .premium_cancel_modal .btns .cancel {
  background: #43AFF8;
  color: var(--white);
}

.user_profile .premium_cancel_modal .close {
  display: block;
  width: 100%;
}
