.user_profile {
  display: flex;
  flex-direction: column;
  background: var(--gradient1);
  border-radius: var(--br-medium);
  padding: 12px;
  margin-top: 2.25rem;
}

.user_info_container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.user_picture {
  flex: 0 0 104px;
  height: 104px;
  position: relative;
  padding: 10px;
  border-radius: var(--br-full);
}

.user_picture .frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  z-index: 1;
}

.user_picture .img {
  position: relative;
  z-index: 0;
  border-radius: var(--br-full);
  max-width: 100%;
  height: auto;
  transform: scale(1.1);
}

.user_info {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
}

.user_name {
  position: relative;
  display: flex;
  align-items: center;
}

.user_name .icon {
  margin-left: 5px;
}

.user_status {
  display: flex;
  align-items: center;
}

.user_status svg {
  margin-right: 5px;
}

.balance_info {
  display: flex;
  gap: 8px;
  align-items: center;
}

.balance_info img {
  width: clamp(18px, 2vw, 24px);
  height: clamp(18px, 2vw, 24px);
}

.coins_count,
.dur {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: clamp(12px, 2vw, 14px);
}

.premium_usdt {
  display: flex;
  gap: 6px;
  align-items: center;
}

.user_profile .user_info .cancel_premium {
  background: linear-gradient(
    247.81deg,
    rgba(121, 176, 255, 0.9) 29.67%,
    rgba(119, 138, 230, 0.9) 45.01%,
    rgba(114, 123, 255, 0.9) 60.71%,
    rgba(66, 77, 128, 0.9) 91.8%
  );
  border-radius: var(--br-medium);
  color: var(--white);
  padding: 2px 12px;
  font-size: clamp(12px, 2vw, 14px);
}

.usdt {
  font-size: clamp(12px, 2vw, 14px);
}

.usdt span {
  color: var(--secondary-hint-color);
}

@media (max-width: 480px) {
  .user_profile {
    padding: 10px;
  }

  .user_info {
    font-size: 12px;
  }

  .btns button {
    font-size: 12px;
  }
}

/* / */
/* user_profile btns */
/* / */

.user_profile .btns {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.625rem;
  margin-top: 24px;
}

.user_profile .btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(12px, 2vw, 16px);
  font-weight: 500;
  padding: 10px;
  border-radius: var(--br-small);
  background-color: var(--blue1);
  color: var(--white);
  line-height: 1.2;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  width: 100%;
  max-height: 35px;
}

.user_profile .btns button:hover {
  background-color: var(--blue2);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user_profile .btns button:active {
  transform: translateY(0);
  box-shadow: none;
}

.user_profile .btns button svg {
  flex-shrink: 0;
  height: auto;
  margin-right: clamp(2px, 1vw, 8px);
}

.user_profile .btns .btn_withdraw svg {
  margin-left: 0;
}

.user_profile .btns button span {
  flex: 1;
  text-align: left;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* modal */
.user_profile .premium_cancel_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  position: fixed;
  width: calc(
    100% - 40px
  ); /* Увеличен отступ, чтобы избежать переполнения на мобильных */
  max-width: 500px; /* Максимальная ширина модалки */
  height: auto;
  background: #fff;
  color: var(--black);
  padding: 20px;
  border-radius: var(--br-medium);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  z-index: 100;
  animation: openM 0.3s 1 forwards;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Добавлено тень для глубины */
  overflow: hidden; /* Скрытие переполнения */
}

/* Анимация открытия модалки */
@keyframes openM {
  from {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.user_profile .premium_cancel_modal h2 {
  font-size: clamp(
    20px,
    5vw + 10px,
    24px
  ); /* Адаптивный размер шрифта заголовка */
  margin: 0; /* Убираем отступы для заголовка */
}

.user_profile .premium_cancel_modal h3 {
  font-size: clamp(16px, 4vw + 5px, 20px);
  margin: 0;
}

.user_profile .premium_cancel_modal .btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.user_profile .premium_cancel_modal .btn {
  padding: 10px 20px;
  font-size: clamp(16px, 4vw + 8px, 20px);
  border-radius: var(--br-medium);
  background: var(--d9);
  color: var(--black);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.user_profile .premium_cancel_modal .btns .cancel {
  background: #43aff8;
  color: var(--white);
}

.user_profile .premium_cancel_modal .btns .cancel:hover {
  background: #3a9ddc;
}

.user_profile .premium_cancel_modal .btns .close {
  display: block;
  width: 100%;
  background: var(--d9);
}
