.lobbies .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lobbies .list .header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.lobbies .list .header .filter_btn {
  display: flex;
  padding: 3px 10px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
  background: #51C4FF80;
  border-radius: var(--br-medium);
  margin-bottom: 10px;
}

.lobbies .list .header .filter_bar {
  display: block;
  position: relative;
}



/* list */
.lobbies .list .header .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: var(--br-medium);
  background: linear-gradient(90deg, #CDCDCD 0%, #676767 100%);
}

.lobbies .list .header .row .btn {
  display: block;
  padding: 5px 12px;
  font-size: 20px;
  border-radius: var(--br-medium);
  color: var(--black);
}

.lobbies .list .header .row .btn_active {
  background: var(--blue-light);
}



.lobbies .btn_bar .filter_btns {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  z-index: 99;
}



.lobbies .btn_bar .create_btn,
.lobbies .btn_bar .filter_btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 99;
  width: 100%;
  background: var(--blue-light);
  min-height: 50px;
  border-radius: var(--br-medium);
  font-size: 20px;
  animation: sjump 0.3s forwards;
}

.lobbies .btn_bar .filter_btns .reset {
  background: #2D4F64;
  color: var(--white);
}

.lobbies .btn_bar .create_btn .icon {
  display: block;
  position: absolute;
  right: 15px;
  height: 65%;
}

.lobbies .fmode .filter_btns {
  display: flex;
}

.lobbies .fmode .create_btn {
  display: none;
}