.preloader {
  touch-action: none;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--bg);
  z-index: 1000;
}

.preloader-deactive {
  display: flex;
  -webkit-animation: preload 2s 1 forwards;
  -moz-animation: preload 2s 1 forwards;
  -o-animation: preload 2s 1 forwards;
  animation: preload 2s 1 forwards;
  pointer-events: none;
}


.preloader .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.preloader .content .loader {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.preloader .content .loader svg {
  width: 5vw;
  height: auto;
  opacity: 0.25;
  -webkit-animation: loading 2s infinite forwards;
  -moz-animation: loading 2s infinite forwards;
  -o-animation: loading 2s infinite forwards;
  animation: loading 2s infinite forwards;
}

.preloader .content .loader .s1 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

.preloader .content .loader .s2 {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.preloader .content .loader .s3 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.preloader .content .loader .s4 {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0.25;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.25;
  }
}

@-moz-keyframes loading {
  0% {
    opacity: 0.25;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.25;
  }
}

@-o-keyframes loading {
  0% {
    opacity: 0.25;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.25;
  }
}

@keyframes loading {
  0% {
    opacity: 0.25;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.25;
  }
}

@-webkit-keyframes preload {
  0% {
    display: flex;
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@-moz-keyframes preload {
  0% {
    display: flex;
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@-o-keyframes preload {
  0% {
    display: flex;
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes preload {
  0% {
    display: flex;
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
