.profile_section .profile_customs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.profile_section .profile_customs .btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: var(--white);
  width: 100%;
  background: var(--bg4);
  aspect-ratio: 1/1;
  border-radius: var(--br-small);
}

.profile_section .profile_customs .btn img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.profile_section .profile_friends {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.profile_section .profile_friends .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 58px;
  padding: 9px;
  background: var(--gradient1);
  border-radius: var(--br-large);
  width: 100%;
}

.profile_section .profile_friends .row .user {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.profile_section .profile_friends .row .user .picture {
  display: block;
  aspect-ratio: 1 / 1;
  width: 40px;
  height: auto;
}

.profile_section .profile_friends .row .user .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profile_section .profile_friends .row .user .info .status {
  display: flex;
  flex-direction: row;
  gap: 2px;
}


.profile_section .profile_friends .row .btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile_section .profile_friends .row .btns .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* windows */
.profile_section .windows {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 100;
}

.profile_section .windows_active {
  display: flex;
  animation: sjump 0.3s 1 forwards;
}

.profile_section .windows .window {
  display: block;
  width: 90vw;
  background: var(--d9);
  border-radius: var(--br-large);
  overflow: hidden;
}

.profile_section .windows .window .cancel_btn {
  display: block;
  width: 90%;
  margin-left: 5%;
  background: #ccc;
  border-radius: var(--br-large);
  font-size: 30px;
  padding: 5px;
  margin-bottom: 12px;
}

/* .profile_section .w_present {
  display: none !important;
} */

.profile_section .windows .window .w_container {
  display: flex;
  flex-direction: row;
  width: 2000px;
  transition: margin-left 0.3s ease;
  /* margin-left: calc(-2*90vw); */
}

/* Slide Container */
.profile_section .windows .window .w_container .slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  padding: 20px;
  padding-bottom: 5px;
}

/* Slide Title */
.profile_section .windows .window .title {
  display: block;
  font-size: 30px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black);
  text-align: center;
}

/* Grid Layout for Buttons */
.profile_section .windows .window .w_container .btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 20px;
}

/* Individual Button Styling */
.profile_section .windows .window .w_container .choose_cat .btns {
  padding: 20px;
}

.profile_section .windows .window .w_container .choose_cat .btns button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 20px;
  border-radius: var(--br-large);
}

/* Button Text */
.profile_section .windows .window .w_container .choose_cat .btns button span {
  display: block;
  width: 100%;
  font-size: 25px;
  text-align: center;
}

.profile_section .windows .window .w_container .choose_cat .btns .cat_active {
  background: var(--blue-light);
}

/* Button Image */
.profile_section .windows .window .choose_cat .btns button img {
  display: block;
  width: 100%;
}

/* Next Button Styling */
.profile_section .windows .window .sbtn {
  display: block;
  width: 100%;
  background: var(--blue-light);
  padding: 5px;
  font-size: 30px;
  border-radius: var(--br-large);
}

/* - */



.profile_section .windows .window .w_container .choose_lvl .btns {
  gap: 50px 15px;
}

.profile_section .windows .window .w_container .choose_lvl .btns button {
  display: block;
  width: 100%;
  background: #0004;
  font-size: 25px;
  width: 100%;
  padding: 5px;
  border-radius: var(--br-small);
  border: 5px solid transparent;
  box-sizing: border-box;
}

.profile_section .windows .window .w_container .choose_lvl .btns .standart {
  background: #69AFFF;
}

.profile_section .windows .window .w_container .choose_lvl .btns .special {
  background: #6CFF6C;
}

.profile_section .windows .window .w_container .choose_lvl .btns .relic {
  background: #FFD037;
}

.profile_section .windows .window .w_container .choose_lvl .btns .rare {
  background: #FF5B5B;
}

.profile_section .windows .window .w_container .choose_lvl .btns .lvl_active {
  border: 5px solid var(--blue-light);
}

/*  */

.profile_section .windows .window .w_container .choose_present .presents {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: calc(100% + 40px);
  margin-left: -20px;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: auto;

}

.profile_section .windows .window .w_container .choose_present .presents .row {
  display: flex;
  flex-direction: row;
}

.profile_section .windows .window .w_container .choose_present .presents .pbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  background: transparent;
  padding: 10px;
  border-radius: var(--br-medium)
}



.profile_section .windows .window .w_container .choose_present .presents .pbtn img {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.profile_section .windows .window .w_container .choose_present .presents .pbtn span {
  opacity: 0;
}

.profile_section .windows .window .w_container .choose_present .presents .p_active {
  background: var(--blue-light);
}

.profile_section .windows .window .w_container .choose_present .presents .p_active span {
  opacity: 1;
}